* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  max-width: 400px;
  text-align: center;
  padding: 1.5rem;
  background-color: #000;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  text-align: center;
  width: 100%;
  color: #fff;
}

.card {
  border-radius: 16px;
  position: relative;
  padding: 25px 15px;
  background-color: #fff;
  margin: 25px 0;
}

.card img {
  width: 200px;
  margin: 1rem 0;
  clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 82%);
}

.card p {
  text-align: left;
  font-style: italic;
}
